.tit { color: black; padding-right: 5px;font-weight: bold;font-family: Arial;}
.tit:hover { color: black;}
.skin-blue .main-header .logo {
                        background-color: White; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;
                                            }
.skin-blue .main-header .navbar {
                              background-color: White; 
                              }
.skin-blue .main-header .logo:hover {
                        background-color:  	White;
                                            }
/*.main-header .logo {height: 110px ; }padding-top: 10px*/
.skin-blue .main-header .navbar .sidebar-toggle{
                        background-color:  	#cd4e37;
                                            }
.skin-blue .main-header .navbar .sidebar-toggle:hover{
                        background-color:  	#cd4e37;
                                            }
.name { color: black }
/*.left-side, .main-sidebar {padding-top: 110px}*/
.butt{background-color:#cd4e37;} .butt{color: white;}
.table {
    /*width: 50%;
    max-width: 50%;*/
    margin-bottom: 20px;
}
.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a{
color: #fff;

background: #1e282c;

border-left-color: #cd4e37;
  
}


.main-header {max-height: 100px}
.main-header .logo {height: 100px;}
.sidebar-toggle {height: 25px; padding-top: 1px !important;}
.navbar {min-height:25px !important}
.left-side, .main-sidebar {padding-top: 130px}
#map {height: 430px !important;}/*calc(100vh - 50vh)*/
